@inherits HtmlPasswordBox

<HtmlBlock CssClass="@ComponentClass" CssStyle="@ComponentStyle" Language="@Language">
    @if (Header is not null)
    {
        @Header
    }
    else if (!string.IsNullOrWhiteSpace(HeaderText))
    {
        <Label ForId="@InputId" Text="@HeaderText" CssClass="password-box-header"></Label>
    }

    <InputPassword Value="@CurrentValue"
                   ValueExpression="@ValueExpression"
                   ValueChanged="@ValueChanged"
                   Id="@InputId"
                   Name="@Name"
                   MaxLength="@MaxLength"
                   MinLength="@MinLength"
                   CssClass="password-box-input"
                   ReadOnly="@ReadOnly"
                   Disabled="@Disabled"
                   Required="@Required"
                   PlainText="@PlainText"
                   ControlSize="@ControlSize"/>

    @if (Description is not null)
    {
        @Description
    }
    else if (!string.IsNullOrWhiteSpace(DescriptionText))
    {
        <HtmlBlock CssClass="form-description password-box-description">@DescriptionText</HtmlBlock>
    }

    @if (ValidationFor is not null)
    {
        const string feedbackClass = $"{BootstrapClasses.InvalidFeedback} {BootstrapClasses.DisplayBlock}";
        <HtmlBlock CssClass="@feedbackClass">
            <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="@ValidationFor"/>
        </HtmlBlock>
    }
</HtmlBlock>
